@import "src/scss/base";

.user-actions {
  flex: 0 0 50%;
  max-height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 rem(10px);

  &__link {
    padding: 0 rem(12px) 0 0;

    svg {
      width: rem(24px);
    }
  }
}

@media screen and (max-width: $big-tablet){
  .user-actions {
    &__link.cart-hidden {
      display: none;
    }
  }
}