@import "src/scss/base";

.tablet-menu {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 64px;
  padding: 0 rem(10px);
  background-color: $dark-blue;

  &__list {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10%;

    .list-item {

      &.search-hidden {
        display: none;
      }

      .item-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(5px);
        font-size: rem(12px);
        color: white;

        svg {
          fill: white;
        }
      }
    }
  }
}

@media screen and (max-width: $tablet){
  .tablet-menu {
    display: block;
  }
}

@media screen and (max-width: $medium-tablet){
  .tablet-menu {
    .list-item.search-hidden {
      display: block;
    }
  }
}