@import "src/scss/base";

.nav-menu {
  flex: 1 1 auto;

  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: rem(30px);
  }

  &__list-item {
    padding:  rem(10px) 0;
    border-radius: 5px;

    .item-link {
      color: inherit;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: $light-blue-hover;
      }
    }
  }
  @media (max-width: $big-tablet) {
    &__list {
      flex-direction: column;
      align-items: flex-start;
    }
    &__list-item {
      border-bottom: 1px solid $divider-color;
      .item-link:hover {
        color: revert;
      }
    }
  }
}
