@import "src/scss/base";

.card {
  min-width: rem(310px);
  padding: rem(10px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: opacity 100ms ease-in-out;
  position: relative;

  &:hover {
    opacity: 0.9;
  }

  img {
    width: 100%;
    border-radius: rem(4px);
    object-fit: cover;
    object-position: center;
  }
  .card-info {
    .card-title {
      font-size: rem(14px);
      font-weight: 400;
      padding: rem(3px) 0;
      color: $dark;
    }

    .card-price {
      font-size: rem(14px);
      font-weight: 500;
      color: $red;
    }
  }

  &__favorites {
    width: rem(50px);
    height: rem(50px);
    border-radius: 50%;
    visibility: hidden;
    background-color: white;
    position: absolute;
    top: rem(15px);
    right: rem(15px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: visibility 100ms ease-in-out;

    svg {
      width: rem(20px);
      margin-top: 5px;
    }
  }

  &:hover &__favorites_active {
    visibility: visible;
  }
}

