@import "src/scss/base";

.card {
  min-width: rem(310px);
  padding: rem(10px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: opacity 100ms ease-in-out;

  &:hover {
    opacity: 0.7;
  }

  img {
    width: 100%;
    border-radius: rem(4px);
    object-fit: cover;
    object-position: center;
  }

  .card-info {
    .card-title {
      font-size: rem(14px);
      font-weight: 400;
      padding: rem(3px) 0;
      color: $dark;
    }

    .card-price {
      font-size: rem(14px);
      font-weight: 500;
      color: $red;
    }
  }
}