@import "src/scss/base";

.catalog-menu {
  overflow: hidden;
  min-height: rem(200px);
  background-color: $light-blue;
  border-radius: 0 0 8px 8px;

  &__list {
    display: flex;
    flex-direction: column;

    .list-item {
      padding: 12px 0;
      border-bottom: 1px solid $light-gray-color;
      transition: background-color 100ms ease-in;

      .item-link {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        font-size: rem(16px);

        svg {
          width: rem(25px);
          height: rem(25px);
        }
      }

      &:hover {
        background-color: $light-blue-hover;
      }
    }
  }
}
