@import "src/scss/base";

.catalog-menu {
  overflow: hidden;
  position: absolute;
  width: 25%;
  min-height: rem(200px);
  z-index: 300;
  top: rem(60px);
  left: rem(10px);
  visibility: hidden;
  opacity: 0;
  transition: height 0ms 400ms, opacity 400ms 0ms;
  background-color: $light-blue;
  border-radius: 0 0 8px 8px;

  &__list {
    display: flex;
    flex-direction: column;

    .list-item {
      padding: 12px 0;
      transition: background-color 100ms ease-in;

      .item-link {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        font-size: rem(16px);

        svg {
          width: rem(25px);
        }
      }

      &:hover {
        background-color: $light-blue-hover;
      }
    }
  }

  &.open {
    visibility: visible;
    opacity: 1;
    transition: height 0ms 0ms, opacity 600ms 0ms;
  }
}

@media screen and (max-width: $big-tablet){
  .catalog-menu {
    width: 100%;
    position: sticky;
  }
}
