@import "src/scss/base";

.menu-header {
  height: 60px;
  background-color: $main-black;
  color: white;
  position: relative;

  &__container {
    min-height: 60px;
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
  }

  &__nav-menu {
    padding: 0 rem(24px);
  }
}

@media screen and (max-width: $big-tablet){
  .menu-header {
    display: none;
  }
}