@import "src/scss/base";

.change-password {
  display: flex;
  flex-direction: column;
  max-width: rem(310px);

  label {
    font-size: rem(16px);
    font-weight: 400;
    padding:0 0 rem(8px) 0;
  }

  &__input {
    background: #FFFFFF;
    font-size: rem(16px);
    font-weight: 400;
    line-height: 100%;
    border: 1px solid $gray;
    border-radius: 5px;
    padding: rem(10px) rem(10px) rem(10px) rem(20px);
    margin-bottom: rem(12px);
  }
}
