@import "src/scss/base";

.button {
  display: inline-block;
  background-color: $dark;
  border: 1px solid $light-blue;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  padding: em(16px) em(20px);
  font-size: $font-size;
  font-weight:600;
  text-align: center;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;


  &:disabled {
    opacity: .5;
  }

  &:hover, &:active {
    background-color: $dark-blue;
  }
}

.ghost {
  min-width: em(30px);
  background-color: transparent;
  padding: 0;
  border: none;

  &:hover, &:active {
    background-color: transparent;
      transform: scale(1.1);
  }
}

@media (max-width: $big-tablet) {
  .button {
    display: block;
  }
}
