@import "src/scss/base";

.personal-data {
  display: flex;
  gap: 20px;

  &__column {
    min-width: rem(310px);
    display: flex;
    flex-direction: column;
    padding: rem(10px) 0;
  }

  label {
    font-size: rem(16px);
    font-weight: 400;
    padding:0 0 rem(8px) 0;
  }

  &__input,
  &__select {
    background: #FFFFFF;
    font-size: rem(16px);
    font-weight: 400;
    line-height: 100%;
    border: 1px solid $gray;
    border-radius: 5px;
    padding: rem(10px) rem(10px) rem(10px) rem(20px);
    margin-bottom: rem(12px);
  }

  &__input[type="file"] {
    padding: rem(7px);
    margin-bottom: rem(38px);
}
}